@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
/* Header */

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.navbar {
    display: flex;
    align-content: flex-start;
    gap: 200px;
}
.navlink {
    display: flex;
    padding: 0px 100px 10px 10px;
}
.navbar img {
    width: auto;
    height: 100px;
    padding: 20px;
}
.navlink a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
}

/* Body */
#main-body {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.main-images {
    position: relative;
    padding: 50px;
}
#banner-desc {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 250px;
    left: 200px;

}
#banner-button {
    font-family: 'Rubik', sans-serif;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    position: absolute;
    left:200px;
    top: 500px;
}

/* Footer */
footer {
    display: flex;
    gap: 200px;
    margin-top: 928px;
}
footer img {
    width: auto;
    height: 100px;
    padding: 20px;
}
footer a {
    text-decoration: none;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    margin-right: 40px;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;

}

/* Cataloge */

.catalogue-body {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;    padding: 10px;
    padding: 30px;
}
.sidebar a {
    margin: 50px;
}
.catalogue-content {
    display: grid;
    grid-template-columns: 500px;
}
.catalogue-content img {
    width: auto;
    height: 400px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.btn {
    text-decoration: none !important;
    margin:2px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .content button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.content button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.content button:active {
    position:relative;
	top:1px;
} */

/* product */

.productbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right left" ;
}
#rightproduct {
    grid-area: right;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 20px;
    row-gap: 20px;


}
#leftproduct {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
    border-style: dotted;
}
#rightproduct video {
    height: 472px;
    width: 472px;
}
.selection {
    padding: 20px;
}


input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

/* about us */
#aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
#aboutusleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#aboutusleft img {
    height: auto;
    width: 472px;
}
#aboutusright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}