@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=League+Gothic&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Inconsolata&family=League+Gothic&family=Quicksand:wght@300&display=swap');

/* Header */

.main {
    display: flex;
    flex-direction: column;

}
.navbar {
    display: flex;
    align-content: flex-start;
    gap: 200px;
}
.navlink {
    display: flex;
    padding: 0px 100px 10px 10px;
    margin-top: 50px;

}
.navbar img {
    width: auto;
    height: 100px;
    padding: 20px;
}
 .navlink a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
} 

/* Style The Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    background-color: #ccccff;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0;
  }
  .dropdown-content a:hover {background-color: #cc99ff}

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.account {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-top: 27.8px;
}

/* Body */
#main-body {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.main-images {
    position: relative;
    padding: 50px;
}
#banner-desc {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 250px;
    left: 200px;

}
#banner-button {
    font-family: 'Rubik', sans-serif;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    position: absolute;
    left:200px;
    top: 500px;
}

/* Footer */
footer {
    display: flex;
    gap: 200px;
}
footer img {
    width: auto;
    height: 100px;
    padding: 20px;
}
footer a {
    text-decoration: none;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    margin-right: 40px;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;

}

/* Cataloge */

.catalogue-body {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;    padding: 10px;
    padding: 30px;
}
.sidebar h4 {
    margin: 50px;
}
.sidebar a {
    margin: 50px;
}
.catalogue-items {
    display: grid;
    grid-template-columns: 500px 500px 500px;
}
.catalogue-content {
    display: block;
}
.catalogue-content img {
    width: auto;
    height: 400px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.btn {
    text-decoration: none !important;
    margin:2px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .content button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.content button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.content button:active {
    position:relative;
	top:1px;
} */

/* product */

#productname {
    margin-bottom:50px;
}

.productbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right left" ;
    padding: 50px;
}
#rightproduct {
    grid-area: right;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 20px;
    row-gap: 20px;
}
#rightproduct img{
    width: auto;
    height: 500px;

}
#leftproduct {
    font-family: 'Rubik', sans-serif;
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
}
.productdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-style: none;
    font-style: italic;
}


.selection {
    padding: 20px;
}

input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

#quantity {
    margin-right: 20px;
}

#addtocartbtn {
    font-family: 'Rubik', sans-serif;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;

}

#addtocartbtn:hover {
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;

}

#addtocartbtn:active {
    position:relative;
	top:1px;

}
#colortext {
    margin-left: 20px;
}

#desctext {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 1.5rem

}

/* Cart */
.cart {
    display: grid;
    margin-left: 100px;
    padding: 20px;
    gap: 30px;
    margin-bottom: 500px;
    

}
.cartitem {
    display: grid;
    grid-template-columns: 500px 700px;

}
#deletebtn {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    width: auto;
    height: 80px;
}
.cartitem img {
    width: auto;
    height: 500px;
}
#cartdesc {
    margin-left: 100px;
}
#cartitemname {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;

}
#emptycart {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
#updatebtn {
    width: 100px;
    text-align: center;
    margin-left: 10px;
    padding: 20px;

}

.cartupdate {
    display: flex;

}

/*Payment*/

.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

#paymentbutton {
    padding: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  

}
#paymentbutton a {
    font-family: 'Rubik', sans-serif;
    height: 30px;
    width: 100px;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;

}
#paymenttext {
    font-family: 'Bona Nova', serif;
    font-style: italic;


}


/* about us */
#aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    margin-bottom: 300px;
}
#aboutusleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#aboutusleft img {
    height: auto;
    width: 472px;
}
#aboutusright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    
}
/* Place order*/
#placeorderinput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#placeordersubmit {
      width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.total-payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* admin */

.admin {
    padding: 50px;
}
.admin th,tr {
    padding:20px;
    
}
#adminimage {
    width: auto;
    height: 200px;
}

.adminbtncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;


}
.adminbtncontainer a {
    font-family: 'Rubik', sans-serif;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;

}
.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.insertcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.insertcontainer input[file] {
    text-decoration: none;
    border: none;
}
.insertbtn {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

/*about us page*/
#cartpage {
    margin-bottom: 650px;
}