nav{
    background-color: #333333;
    color:white;
    width: 100%;
    min-width: 800px;
    height: 60px;
}
nav .nav-content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
    padding:0 20px;
    box-sizing: border-box;
}
nav .logo img{
    width: 50px;
    margin-right: 50px;
}

nav .nav-content >ul {
    display: flex;
    gap:30px;
    margin:0 !important;
}
nav ul li {
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
}

nav .right-content{
    position: absolute;
    top:8px;
    right:20px;
    display: flex;
    gap:30px;
}
nav a{
    color: white;
}
nav a:hover{
    color: rgb(184, 184, 184);
}

nav .right-content img{
    width: 24px;
    display: block;
    margin:auto;
}

nav .account{
    position: relative;
    cursor: pointer;
}

nav .account-dropdown{
    position: absolute;
    top: 51.5px;
    right:0;
    background-color: white;
    color:black;
    z-index: 5;
    min-width: 150px;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    border:1px solid lightgrey;
}

nav .account-dropdown ul li hr{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* modal */
nav .modal .modal-body{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}
nav .modal .modal-body h1{
    font-size: 36px;
    margin-bottom: 30px;
}
nav .modal .modal-body .input-group{
    width: 100%;
    margin-bottom: 15px;
}
nav .modal .modal-body .input-group input{
    width: 300px;
    height: 34px;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px;
    padding-left: 12px;
    border: 1px solid #afafaf;
}
nav .modal .modal-body button{
    width: 300px;
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    background: #40A3FF;
    color:white;
    font-size: 18px;
    font-weight: 500;
    border:0;
}
nav .modal .modal-body small{
    margin-top: 20px;
    font-size: 14px;
    display: block;
}
nav .modal .modal-body small span{
    margin-top: 10px;
    color: #40A3FF;
    cursor: pointer;
}
nav .error-message{
    color: red;
}