.page .content{
    padding-top: 30px;
}

.shopping-cart-page table{
    width: 100%;
    border-radius: 8px;
    border-collapse: collapse;
}

.shopping-cart-page table tr{
    text-align: center;
}

.shopping-cart-page table thead{
    background-color: #F4F4F4;
}
.shopping-cart-page table th{
    padding: 10px 20px;
    font-weight: 500;
    color: #8A8A8A;
}

.shopping-cart-page table tr td{
    padding:10px 20px;
}

.shopping-cart-page table .delete-btn, .shopping-cart-page table .checkout-btn{
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    color:white;
    font-size: 16px;
}

.shopping-cart-page table .delete-btn{
    background-color: #EE3232;
    cursor: pointer;
}

.shopping-cart-page table .checkout-btn{
    background-color: #3DA300;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.shopping-cart-page table .product-col img{
    width: 100px;
    vertical-align: middle;
    margin-right: 16px;
}

.shopping-cart-page table .total-price{
    text-align: right;
    font-size: 24px;
}
.shopping-cart-page table .total-price span{
    font-weight: bold;
}

.shopping-cart-page table tfoot tr{
    border-top: 1px solid lightgrey;
    height: 80px;
    padding-top: 30px;
}


